#pedro{
	z-index :1;
	position: absolute; 
	width : 100%; 
	height: 120%;
}
#pedroTexte{
	z-index :2;
	position: absolute;
	width: 100%;
	height: 120%;
}
#pedroquestion{
	z-index :3;
	position: absolute;
	width: 100%;
	height: 120%;
}

#menu{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 120%;
}

#droite{
	text-align: right;
	position: relative;
	z-index: 10;
}